.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row-gap: 2rem;
    @media only screen and (max-width:$bp-small){
        grid-column: full-start / full-end;
        grid-row: 3 / 4;
    }
    
    & h3{
        justify-self: center;
    }
    &__realtor{
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;
        @media only screen and (max-width:$bp-small){
            grid-template-columns: repeat(3, min-content max-content);
        }
        @media only screen and (max-width:$bp-smallest){
            grid-template-columns: min-content max-content;
        }
        & img{
            width:7rem;
            border-radius: 50%;
            display: block;
        }
        &--content{
            color: $color-grey-light-1;
            & span{
                text-transform: uppercase;
            }
        }
    }
}